:root {
    --color1: #22222E;
    --color2: #393A5A;
    --color3: #706F8E;
    --color4: #ADA9BA;
}

body {
    background-color: var(--color1);
    color: var(--color4);
}

.navbar {
    background-color: var(--color4);
    color: var(--color2);
}

.navbar-brand {
    margin-left: 30px;
    margin-right: 30px;
    color: #ADA9BA; 
    font-size: 34px;
}

.nav-item {
    padding-left: 10px;
}

.card {
    display: none; /* Ukryj wszystkie karty początkowo */
}
.card.active {
    display: block; /* Wyświetl aktywną kartę */
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px; 
    height: 80%;
    background-color: aquamarine;
}

.btn-primary {
    background-color: var(--color3);
    border-color: var(--color3);
}

.btn-primary:hover {
    background-color: var(--color4);
    border-color: var(--color4);
}
