:root {
    --color1: #22222E;
    --color2: #393A5A;
    --color3: #706F8E;
    --color4: #ADA9BA;
}

body {
    background-color: var(--color1);
    color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.navbar {
    background-color: var(--color4);
    color: var(--color2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    margin-left: 30px;
    margin-right: 30px;
    color: var(--color4);
    font-size: 34px;
}

.nav-item {
    padding-left: 10px;
}

.content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: none; /* Ukryj wszystkie karty początkowo */
    width: 70vw;
    height: 70vh;
    margin-bottom: 20px;
}
.card.active {
    display: block; /* Wyświetl aktywną kartę */
}

.list-group.list-group-light{
    padding-top: 75px;
}

.btn.btn-primary{
    background-color: var(--color4) !important;
    color: var(--color2) !important;
    border: none !important; 
}

.poster{
    width:200px;
    height:300px;
}

