{% extends 'base/base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">

    <div class="movie-row">
        {% comment %} {% for movie in movies %}
        {% endfor %} {% endcomment %}

    </div>
        {% for user_list in user_lists %}
            <a href="{% url 'list' '{{user_list.name}}' %}" class="movie-link">
                <div class="poster-container">
                    {% for movie in user_list.movies.all%}
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster" class="poster-list">
                    {% endfor %}
                </div>
            </a>
        {% endfor %}

</ul>

{% comment %} 
    {{ movie.title }}
    {{ movie.year }}
{% endcomment %}

{% endblock content %}