{% extends 'base/base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">

    {% for user_list in user_lists %}
        <div class="d-inline-flex">
            <a href="{% url 'list' name=user_list.name %}" class="movie-link">
                {% if not user_list.movies.all %}
                    <div class="poster-container" style="min-height: 210px;">
                        <p class="poster-list"></p><p class="poster-list"></p><p class="poster-list"></p><p class="poster-list"></p><p class="poster-list"></p>
                        <p class="poster-list">
                            You haven't<br>
                            added any<br>
                            movies to<br>
                            the list yet!
                        </p>
                    </div>
                {% else %}
                    <div class="poster-container">
                        {% for movie in user_list.movies.all|slice:":6"%}
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} Poster" class="poster-list">
                        {% endfor %}
                    </div>
                {% endif %}
            </a>
            <div style="margin: 20px; max-width: 200px;">
                <h3>{{user_list.name}}</h3>
                <h5>{{user_list.description}}</h5>
                <a href="{% url 'remove_list' name=user_list.name type='Movie' %}"><button type="button" class="btn btn-danger delete-button">Remove list</button></a>
                
            </div>
        </div>
    {% endfor %}
    
    <form action="{% url 'add_list' 'Movie' %}" method="post">
        {% csrf_token %}
        <div class="flex" style="margin: 100px;">
            <div style="display: flex; justify-content: center;">
                <input type="text" name="name" placeholder="Enter list name" required class="form-control form-control-lg" style="margin: 10px;">
                <input type="text" name="description" placeholder="Enter list description" class="form-control form-control-lg" style="margin: 10px;">
            </div>
            
            <button type="submit" class="btn btn-dark btn-outline-light btn-block btn-lg text-body">
                Create new list
            </button>
        </div>
    </form>
    


</ul>
{% endblock content %}