{% extends 'base/base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">
    {% comment %} <div class="row"> 
        <div class="col text-center"> 
            <h2 style="padding-bottom: 10px;">{{ list_title }}</h2>
            <p style="max-width: 750px;">{{ description }}</p>
        </div>
    </div> {% endcomment %}
    <div class="movie-row">
        {% comment %} {% for movie in movies %}
        {% endfor %} {% endcomment %}

    </div>
    <a href="{% url 'list' 'imdb' %}">
        <div class="poster-container">
            <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list">
            <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 2" class="poster-list">
            <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 3" class="poster-list">
            <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 2" class="poster-list">
            <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 3" class="poster-list">
            <!-- Add more posters as needed -->
        </div>
    </a>


</ul>

{% comment %} 
    {{ movie.title }}
    {{ movie.year }}
{% endcomment %}

{% endblock content %}