{% extends 'base/base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">

    <div class="row"> 
        <div class="col text-center"> 
            <h2 style="padding-bottom: 10px;">{{ name }}</h2>
            {% if description %}
                <p style="max-width: 750px;">{{ description }}</p>
            {% endif %}
        </div>
    </div>
    
    <div class="movie-row">
        {% for movie in user_list %}
            {% if forloop.counter0|divisibleby:5 %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
                <div class="movie-row">
            {% endif %}
            <div class="movie-item">
                {% if movie.original_title %}
                    <a href="{% url 'movie' title=movie.original_title year=movie.year%}" class="movie-link">
                {% else %}
                    <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
                {% endif %}
                    <div class="poster-item">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                        <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                        <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
                        <a href="{% url 'remove_from_list' name=name type='Movie' id=movie.custom_id %}">
                            <button type="button" class="btn btn-danger delete-button">Remove from list</button>
                        </a>
                        {% if movie.rating and movie.rating != 0 %}
                            <p style="text-align: center;">★ {{movie.rating}}</p>     
                        {% endif %}
                    </div>
                    
                </a>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="row" style="margin-top: 50px; margin-bottom: 20px;"> 
        <div class="col text-center"> 
            <h4 style="padding-bottom: 10px;"> Want to add some movie to your list ?</h4>
        </div>
    </div>
    <form method="post"> 
        {% csrf_token %} 
        <div class="input-group mb-3">
            <input type="search" class="form-control" placeholder="Search your movie and add it by clicking on poster" aria-label="Search" name="search">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div style=" display: flex; flex-wrap: nowrap; overflow: hidden; overflow-x: auto; max-width: 800px;">
        {% for movie in search_results %}
            <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.release_date }}/{{ name }}" data-title="{{ movie.title }}" data-year="{{ movie.release_date }}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}{{ movie.release_date }}" class="poster-list-scroll"> 
            </a>
        {% endfor %}
    </div>
    
</ul>

{% endblock content %}