{% extends 'base/base.html' %}
{% load static %}
{% block title %}Person List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">

    {% for user_list in user_lists %}
        <div class="d-inline-flex">
            <a href="{% url 'person_list' name=user_list.name %}" class="movie-link">
                {% if not user_list.persons.all %}
                    <div class="poster-container" style="min-height: 210px;">
                        <p class="face-list"></p><p class="face-list"></p><p class="face-list"></p><p class="face-list"></p><p class="face-list"></p>
                        <p class="face-list" style="padding: 10px;">
                            <br/> Add at least one person.
                        </p>
                    </div>
                {% else %}
                    <div class="poster-container">
                        {% for person in user_list.persons.all|slice:":6"%}
                        <img src="https://image.tmdb.org/t/p/w500{{ person.profile_path }}" class="face-list-img">
                        {% endfor %}
                    </div>
                {% endif %}
            </a>
            <div style="margin: 20px; max-width: 200px;">
                <h3>{{user_list.name}}</h3>
                <h5>{{user_list.description}}</h5>
                <a href="{% url 'remove_list' name=user_list.name type='Person' %}"><button type="button" class="btn btn-danger delete-button">Remove list</button></a>
            </div>
        </div>
    {% endfor %}
    
    <form action="{% url 'add_list' 'Person' %}" method="post">
        {% csrf_token %}
        <div class="flex" style="margin: 100px;">
            <div style="display: flex; justify-content: center;">
                <input type="text" name="name" placeholder="Enter list name" required class="form-control form-control-lg" style="margin: 10px;">
                <input type="text" name="description" placeholder="Enter list description" required class="form-control form-control-lg" style="margin: 10px;">
            </div>
            
            <button type="submit" class="btn btn-dark btn-outline-light btn-block btn-lg text-body">
                Create new list
            </button>
        </div>
    </form>
    


</ul>

{% comment %} 
    {{ movie.title }}
    {{ movie.year }}
{% endcomment %}

{% endblock content %}