{% extends 'base/base.html' %}
{% load static %}
{% block title %}Ranking{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">
    <div class="row"> 
        <div class="col text-center"> 
            <h2 style="padding-bottom: 10px; max-width: 750px;">{{ list_title }}</h2>
            {% if description %}
                <p style="max-width: 750px;">{{ description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row" style="justify-content: center; align-items: center;"> 
        <div style="border: 1px solid #ccc; padding: 12px; margin: 5px; width: 300px; text-align: center; border-radius: 5px; height: 120px;">
            <p>You’ve watched</p>
            <h5>{{ movies_count }} of {{ user_list|length }} </h5>
            <div style="background-color: #e0e0e0; height: 20px; border-radius: 10px; overflow: hidden;">
                <div style="width: {{ percentage_watched }}%; background-color: #2ecc71; height: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="movie-row">
        {% for movie in user_list %}
            {% if forloop.counter0|divisibleby:5 %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
                <div class="movie-row">
            {% endif %}
            <div class="movie-item">
                {% if movie.original_title %}
                    <a href="{% url 'movie' title=movie.original_title year=movie.year%}" class="movie-link">
                {% else %}
                    <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
                {% endif %}
                    <div class="poster-item">
                        <img src="{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                        <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                        <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
                    </div>
                        <p style="text-align: center;">{{forloop.counter}}</p>                      
                    
                    </a>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>

{% endblock content %}