{% extends 'base/base.html' %}
{% load static %}
{% block title %}Ranking{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">
    <div class="row"> 
        <div class="col text-center"> 
            <h2 style="padding-bottom: 10px;">{{ list_title }}</h2>
            {% if description %}
                <p style="max-width: 750px;">{{ description }}</p>
            {% endif %}
        </div>
    </div>
    <div class="movie-row">
        {% for movie in user_list %}
            {% if forloop.counter0|divisibleby:5 %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
                <div class="movie-row">
            {% endif %}
            <div class="movie-item">
                {% if movie.original_title %}
                    <a href="{% url 'movie' title=movie.original_title year=movie.year%}" class="movie-link">
                {% else %}
                    <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
                {% endif %}
                    <div class="poster-item">
                        <img src="{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                        <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                        <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">☆</a>

                    </div>
                    <div id="ratingModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Rate the movie:</p>
                            <div class="stars">
                                <div class="stars">
                                    {% for i in "1234567890"|make_list %}
                                        <a href="/rate_movie/{{ movie.title|urlencode }}/{{ movie.year }}/{{ i }}" class="star" data-rating="{{ i }}">☆</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                        <p style="text-align: center;">{{forloop.counter}}</p>                      
                    
                    </a>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>

<script>
    function showRatingModal(title, year) {
        // Display the modal
        var modal = document.getElementById('ratingModal');
        modal.style.display = "block";
    
        // Adjust links inside the modal for the specific movie
        var stars = document.querySelectorAll('.star');
        stars.forEach(function(star) {
            var rating = star.dataset.rating;
            star.href = "/rate_movie/" + title + "/" + year + "/" + rating;
        });
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById('ratingModal');
        var close = document.querySelector('.close');
    
        close.onclick = function() {
            modal.style.display = "none";
        };
    
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    });
    
  </script>
{% endblock content %}