{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<div class="card-navigation">
    <button class="btn btn-primary prev-card"><</button>  
</div>
<div class="card">
    <div class="card-body">
        <a href="{% url 'list' 'imdb' %}">
            <p class="card-text">Top 250 Imdb</p>
            <p class="card-text">watchlist, wasne listy, rankingi aktorow, rezyserow, rekomendacje(tmdb api),
                 redis/celery do zapisywania scrapowanych top250 imdb/filmweb, dokumnetacja
            </p>
        </a>

        <div class="poster-container-scroll">
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <div class="poster-item">
                <img src="{% static 'marlon.jpg' %}" alt="Movie Poster 1" class="poster-list-scroll">
                <div class="watchlist-label">+</div>
            </div>
            <!-- Add more posters as needed -->
        </div>
        
    </div>
</div>
<div class="card">
    <div class="card-body">
        <a href="{% url 'list' 'filmweb' %}">
            <p class="card-text">Top 250 Filmweb</p>
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Karta 3</h5>
        <p class="card-text">Treść karty 3</p>
    </div>
</div>
<div class="card-navigation">
    <button class="btn btn-primary next-card">></button>
</div>

<script>
    $(document).ready(function() {
        // Set which cards should be displayed at the start
        var activeCard = 0;
        $('.card').eq(activeCard).addClass('active');
    
        // Function to handle the click of the page number
        $('.prev-card').click(function() {
            $('.card').eq(activeCard).removeClass('active'); // Hide the current card
            activeCard = Math.max(0, activeCard - 1); // Set the new active card
            $('.card').eq(activeCard).addClass('active'); // Display the new card
        });
    
        $('.next-card').click(function() {
            $('.card').eq(activeCard).removeClass('active'); // Hide the current card
            activeCard = Math.min($('.card').length - 1, activeCard + 1); // Set the new active card
            $('.card').eq(activeCard).addClass('active'); // Display the new card
        });
    });
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}