{% extends 'base/base.html' %} {% load static %} 
{% block title %}Home{%endblock title %}
{% block content %}


<div class="card-navigation">
  <button class="btn btn-primary prev-card"><</button>
</div>
<div class="card">
  <div class="card-body"  style="display: flex; flex-direction: column; align-items: center;">
    <h1>Welcome to the FilmFiesta!</h1>
    {% comment %}
    <h5 style="width: 1000px;">Enter a realm where your cinematic journey is immortalized. FilmFiesta is not just another movie site;<br> it’s your personal movie cataloging haven. Here, you can keep track of all the films you've watched,<br> from timeless classics to the latest releases. Create collections, rate your favorites, and discover new gems based on your preferences. With FilmFiesta, every film you watch becomes a part of your unique story!</h5>
    {% endcomment %}
    <h5 style="width: 1000px;">
      Install TMDb API Wrapper
      people of ciname Others
      reviews do movies, oglnie usuwanie edytowanie list itp,
      dodaj rtykiety aktorow
      moze cos z best picture z kazego roku oscary
      copyright imdb/tmdb
      testy, ngnix, itp refrokturyzajca zeby obslugiwal bledy kiedy nic nie ma
      redis/celery do zapisywania scrapowanych top250 imdb/filmweb, 
      style.css rozdzielic jakos sensownie
      uzyjwaj git merge poprawnie, try rebase
      dokumnetacja
    </h5>
    <h2 style="margin-top: 35px; margin-bottom: 0px; padding: 0px;">Now playing</h2>
    <p style="margin: 0px; padding: 0px;">Don't waste your time and watch these movies at the cinema.</p>
    <div style=" display: flex; flex-wrap: nowrap; overflow: hidden; overflow-x: auto; max-width: 943px;">
      {% for movie in now_playing_movies %}
        {% if '/' not in movie.title and movie.poster_path%}
          <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
            <div class="poster-item">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
    <h2 style="margin: 0px; padding: 0px;">Tranding movies</h2>
    <p style="margin: 0px; padding: 0px;">This week's top movies.</p>
    <div style=" display: flex; flex-wrap: nowrap; overflow: hidden; overflow-x: auto; max-width: 943px;">
      {% for movie in trending_movies %}
        {% if '/' not in movie.title and movie.poster_path%}
          <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
            <div class="poster-item">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <h2 style="margin-top: 25px; margin-bottom: 0px; padding: 0px;">Popular celebrities</h2>
    <p style="margin-bottom: 5px; padding: 0px;">This week's top popular persons.</p>
    <div style=" display: flex; flex-wrap: nowrap; overflow: hidden; overflow-x: auto; max-width: 960px;">
          {% for person in popular_persons %}
          <a href="{% url 'person' person.name %}">
              <div class="person">
                  {% if person.profile_path != None %}
                      <img src="https://image.tmdb.org/t/p/w500{{ person.profile_path }}" class="face">
                  {% else %}
                      <img src="{% static 'profile.jpg'%}" class="face">
                  {% endif %}
                  <p class="truncate">{{ person.name }}</p>
              </div>
          </a>
      {% endfor %}
    </div>
   
  </div>
</div>
<div class="card">
  <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
    <h2 style="margin: 0px; padding: 0px;">Watchlist</h2>
    <div style=" display: flex; flex-wrap: nowrap; overflow: hidden; overflow-x: auto; max-width: 943px;">
      {% if watchlist_movies %}
        {% for movie in watchlist_movies %}
          {% if '/' not in movie.title and movie.poster_path%}
            <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
              <div class="poster-item">
                  <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                  <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                  <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      {% else %}
        <h4 style="height: 150px; margin-top: 50px;">You haven't added any movies to your watchlist, you can do so by clicking + in the top right corner of the poster after hovering over it.</h4>
      {% endif %}
    </div>
      <h2 style="margin-top: 25px; margin-bottom: 0px; padding: 0px;">Recommendations</h2>
      <p style="margin: 0px; padding: 0px;">Based on movies you've seen recently.</p>
      <div style=" display: flex; flex-wrap: nowrap; overflow: hidden; overflow-x: auto; max-width: 943px;">
        {% if watchlist_movies %}
          {% for movie in recommendations %}
              {% if '/' not in movie.title and movie.poster_path%}
              <a href="{% url 'movie' title=movie.title year=movie.year%}" class="movie-link">
                <div class="poster-item">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                    <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                    <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
                </div>
              </a>
            {% endif %}
          {% endfor %}
          {% else %}
          <h4 style="height: 150px; margin-top: 50px;">You haven't watched any movies yet, you can do so by clicking ★ in the top left corner of the poster after hovering over it.</h4>
        {% endif %}
      </div>
  </div>
</div>
<div id="ratingModal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <p style="text-align: center;">Rate the movie:</p> 
      <div class="stars">
          <div class="stars">
              {% for i in "0123456789"|make_list %}
                  <div class="star-container">
                      <a href="/rate_movie/{{ movie.title|urlencode }}/{{ movie.year }}/{{ i }}" class="star" data-rating="{{ i }}">★</a>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>
<div class="card-navigation">
  <button class="btn btn-primary next-card">></button>
</div>

{% endblock content %}