{% extends 'base/base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">
    <div class="row"> 
        <div class="col text-center"> 
            <h2 style="padding-bottom: 10px;">{{ list_title }}</h2>
            <p style="max-width: 750px;">{{ description }}</p>
        </div>
    </div>
    <div class="movie-row">
        {% for movie in movies %}
            {% if forloop.counter0|divisibleby:5 %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
                <div class="movie-row">
            {% endif %}
            <div class="movie-item">
                {% if movie.original_title %}
                    <a href="{% url 'movie' title=movie.original_title year=movie.year%}">
                {% else %}
                    <a href="{% url 'movie' title=movie.title year=movie.year%}">
                {% endif %}
                    <div class="poster-item">
                        <img src="{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                        <div class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</div>
                    </div>      
                    <p style="text-align: center;">{{forloop.counter}}</p>
                </a>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>


<script>
    document.querySelectorAll('.watchlist-label').forEach(function(label) {
        label.addEventListener('click', function(event) {
            event.stopPropagation(); // Zatrzymaj propagację zdarzenia
    
            var movieTitle = encodeURIComponent(event.target.dataset.title); // Pobierz tytuł
            var movieYear = encodeURIComponent(event.target.dataset.year); // Pobierz rok
            fetch(`/add_to_watchlist/${movieTitle}/${movieYear}/`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Movie added to watchlist!');
                    } else {
                        alert('Error adding movie to watchlist.');
                    }
                });
        });
    });
</script>

{% endblock content %}