{% extends 'base/base.html' %}
{% load static %}
{% block title %}List{% endblock title %}

{% block content %}

<ul class="list-group list-group-light">
    <div class="row"> 
        <div class="col text-center"> 
            <h2 style="padding-bottom: 10px;">{{ list_title }}</h2>
            <p style="max-width: 750px;">{{ description }}</p>
        </div>
    </div>
    <div class="movie-row">
        {% for movie in movies %}
            {% if forloop.counter0|divisibleby:5 %}
                {% if not forloop.first %}
                    </div>
                {% endif %}
                <div class="movie-row">
            {% endif %}
            <div class="movie-item">
                {% if movie.original_title %}
                    <a href="{% url 'movie' title=movie.original_title year=movie.year%}">
                {% else %}
                    <a href="{% url 'movie' title=movie.title year=movie.year%}">
                {% endif %}
                    <div class="poster-item">
                        <img src="{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                        <div class="watchlist-label">+</div>
                    </div>      
                    <p style="text-align: center;">{{forloop.counter}}</p>
                </a>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>

{% comment %} 
    {{ movie.title }}
    {{ movie.year }}
{% endcomment %}

{% endblock content %}