{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ person.name }}{% endblock title %}

{% block content %}
<div class="image-blurred-edge" style="background-image: url('https://image.tmdb.org/t/p/w500{{ person.known_for.0.backdrop_path }}');"></div>
<div class="card-movie">
    <div class="flex-container">
        <div class="div-movie">
            <h1 style="padding: 0px; margin-top: 10px;"> {{ person.name }} </h1>
            <img src="https://image.tmdb.org/t/p/w500{{ person.profile_path }}" class="poster">
            <a href="/add_person_to_list/{{ person.known_for_department }}/{{ id }}" class="watchlist-link" data-name="{{ person.known_for_department }}" data-id="{{ id }}" style="top: 80px;">+</a> 
            <div class="person-details" style="margin-top: 20px;">
                <p style="max-width: 250px;">{{ biography }}</p>
            </div>
        </div>
        {% if movies_director %}
            <div class="movie-row">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div style="margin-right: 130px;">
                        <h2>As Director</h2>
                    </div>
                    <div style="border: 1px solid #ccc; padding: 12px; margin: 5px; width: 200px; text-align: center; border-radius: 5px; height: 120px;">
                        <p>You’ve watched</p>
                        <h5>{{ director_movies_count }} of {{ movies_director|length }} </h5>
                        <div style="background-color: #e0e0e0; height: 20px; border-radius: 10px; overflow: hidden;">
                            <div style="width: {{ percentage_watched_director }}%; background-color: #2ecc71; height: 100%;"></div>
                        </div>
                    </div>
                </div>
                {% for movie in movies_director %}
                    {% if forloop.counter0|divisibleby:5 %}
                        {% if not forloop.first %}
                            </div>
                        {% endif %}
                        <div class="movie-row">
                    {% endif %}
                    <div class="movie-item">
                        <a href="{% url 'movie' title=movie.title year=movie.year %}" class="movie-link">
                            <div class="poster-item">
                                {% if movie.poster_path %}
                                    <div class="poster-item">
                                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                                        <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                                        <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
                                    </div>  
                                {% else %}
                                    <p class="poster-list-scroll"></p>
                                {% endif %}
                                <p style="text-align: center; max-width: 150px;">{{ movie.title }}</p>
                            </div>
                        </a>
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
        {% endif %}
        
        {% if movies %}
            <div class="movie-row">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div style="margin-right: 170px;">
                        <h2>As Actor</h2>
                    </div>
                    <div style="border: 1px solid #ccc; padding: 12px; margin: 5px; width: 200px; text-align: center; border-radius: 5px; height: 120px;">
                        <p>You’ve watched</p>
                        <h5>{{ actor_movies_count }} of {{ movies|length }} </h5>
                        <div style="background-color: #e0e0e0; height: 20px; border-radius: 10px; overflow: hidden;">
                            <div style="width: {{ percentage_watched_actor }}%; background-color: #2ecc71; height: 100%;"></div>
                        </div>
                    </div>
                </div>
                {% for movie in movies %}
                    {% if forloop.counter0|divisibleby:5 %}
                        {% if not forloop.first %}
                            </div>
                        {% endif %}
                        <div class="movie-row">
                    {% endif %}
                    <div class="movie-item">
                        <a href="{% url 'movie' title=movie.title year=movie.year %}" class="movie-link">
                        
                            <div class="poster-item">
                                {% if movie.poster_path %}
                                <div class="poster-item">
                                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="Movie Poster" class="poster-list-scroll">
                                    <a href="/add_to_list/{{ movie.title|urlencode }}/{{ movie.year }}/{{'Watchlist'}}" class="watchlist-label" data-title="{{ movie.title }}" data-year="{{ movie.year }}">+</a>
                                    <a href="#" class="rating-label" onclick="showRatingModal('{{ movie.title|urlencode }}', '{{ movie.year }}')">★</a>
                                </div>        
                                {% else %}
                                    <p class="poster-list-scroll"></p>
                                {% endif %}
                                <p style="text-align: center; max-width: 150px;">{{ movie.title }}</p>
                                <p style="text-align: center; max-width: 150px;">{{ movie.character }}</p>
                            </div>
                        </a>
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
  
    </div>
</div>
 
{% endblock content %}


