{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="card-body p-5" style="text-align: center;">
  <h2>Enter new password</h2><br/><br/><br/>
  {% if form.errors %}
    <div class="alert alert-danger" style="width: 500px;">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
  {% endif %}<br/><br/>
  <form method="post">
    {% csrf_token %}
    <div class="form-outline mb-5" style="width: 500px; margin: auto;">
        <input type="password" id="new_password1" name="new_password1" placeholder="Enter New Password" class="form-control form-control-lg" required />
    </div>
    <div class="form-outline mb-5" style="width: 500px; margin: auto;">
        <input type="password" id="new_password2" name="new_password2" placeholder="Confirm New Password" class="form-control form-control-lg" required />
    </div>
    <button class="btn btn-dark btn-outline-light btn-block btn-lg text-body" type="submit">Change password</button>
  </form>
</div>
{% endblock %}