{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="card-body p-5" style="text-align: center;">
  <h2>Reset password</h2><br/><br/><br/>
  <form method="post">
    {% csrf_token %}
    <div class="form-outline mb-5" style="width: 500px;">
        <input type="email" id="email" name="email" placeholder="Enter Your Email" class="form-control form-control-lg" required />
    </div>
    <button type="submit"  style="border-color: grey;" class="btn btn-dark btn-lg btn-block">Send password reset email</button>
  </form>
</div>
{% endblock %}

